.page-container {
	.page-wrapper.session-wrapper {
		padding: 2rem 0;

		.helper-text {
			text-align: center;
		}
		p.reg-label {
			font-size: 0.875rem;
			font-weight: normal;
			line-height: 1.8;
			margin: 0;
		}
	}
}