<div class="navigation top-bar">
  <div class="top-bar-left">
    <div class="page-container">
      <div class="nav-page-wrapper">
        <div class="navigation-wrapper show-for-extra-large-only">
          <%= render partial: 'layouts/navigation/admin_view/desktop_view' %>
        </div>
        <div class="navigation-wrapper hide-for-extra-large">
          <%= render partial: 'layouts/navigation/admin_view/mobile_view' %>
        </div>
      </div>
    </div>
  </div>
</div>
