.navigation.top-bar
  .top-bar-left
    .page-container
      .nav-page-wrapper
        .navigation-wrapper.show-for-medium
          = render partial: 'layouts/navigation/admin_view/desktop_view'
        .navigation-wrapper.show-for-small-only
          = render partial: 'layouts/navigation/admin_view/mobile_view'