<ul class="dropdown menu">
  <li>
    <a href="javascript:void(0)" id="burger-menu">
      <span class="burger-icon"></span>
    </a>
  </li>
  <li id="logo">
    <%= link_to admin_events_path, id: 'logo-link' do %>
      <%= image_tag 'jakara-logo.png', id: 'jakara-logo' %>
    <% end %>
  </li>
  <li class="nav-item">
    <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: 'nav-link', id: 'logout' %>
  </li>
</ul>
<div id="mobile-nav-container">
  <%= render partial: 'layouts/navigation/user_view/side_nav' %>
</div>
<script>

  $('#burger-menu').on('click', function(e){
    this.classList.toggle('is-active');
    if ($('#burger-menu').hasClass('is-active')) {
      $('#mobile-nav-container').animate({left: 0});
    } else {
      $('#mobile-nav-container').animate({left: -250});
    }
    e.preventDefault();
  })

</script>
