section#home-page {
	height: calc(100vH - 40px);
	background: image-url('home-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
	position: relative;
	top: 40px;
}