section#home-page {
	height: calc(100vH - 68.08px);
	background: image-url('home-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
	position: relative;

	@include breakpoint(small down) {
		background-position: 65% 0;
    height: calc(100vH - 63.23px);
	}
}