.page-container#dashboard-index
  .page-wrapper
    %h1.dashboard-page-title
      = "Welcome to your dashboard, #{current_user.first_name}!"
    %p#hours-volunteered
      Total hours volunteered:
      %span= @total_hours_volunteered