<% flash.each do |key, value| %>
  <div class="<%= key %> callout">
    <%= value %>
    <button aria-label="Dismiss alert" class="close-button" type="button" close-button="">
      <span aria-hidden="true">×</span>
    </button>
  </div>
<% end %>
