.admin-events-page {
	.thumbnail {
		width: 100px;
		margin: 0;
	}
	.form-thumbnail {
		margin-bottom: 1rem;
	}
	.event_start_time,
	.event_end_time {
		display: flex;
		align-items: baseline;
	}
	#event_start_time_1i,
	#event_start_time_2i,
	#event_start_time_3i,
	#event_end_time_1i,
	#event_end_time_2i,
	#event_end_time_3i {
		margin-right: 0.5rem;
	}
	#event_start_time_1i,
	#event_end_time_1i {
		width: 80%;
	}
	#event_start_time_3i,
	#event_start_time_4i,
	#event_start_time_5i,
	#event_end_time_3i,
	#event_end_time_4i,
	#event_end_time_5i {
		width: 70%;
	}
	#event_start_time_4i,
	#event_end_time_4i {
		margin-right: 0.5rem;
		margin-left: 0.5rem;
	}
	#event_start_time_5i,
	#event_end_time_5i {
		margin-left: 0.5rem;	
	}
	a.delete-action {
		margin: 0 1rem;
	}
	.event-tabs-ul {
		list-style-type: none;
		margin: 0 0 0.7rem;
		line-height: 1.1rem;
		font-size: 85%;

		a {
			display: inline-block;

			li {
				display: inline-block;
				padding: 5px 8px;
				border: 1px solid $blue;
				background-color: $white;
				color: $blue;
				transition: 0.5s all;

				&:hover {
					background-color: $blue;
					color: $white;
				}
			}

			&.active {
				pointer-events: none;

				li {
					background-color: $blue;
					color: $white;
				}
			}
			&:first-of-type {
				margin: 0 0.5rem 0 0;
			}
		}
	}
}