<div id="filter-by-school-year">
  <h2 class="filter-by-text">Filter by:</h2>
  <div id="filter-options-wrapper">
    <div id="school-years-wrapper">
      <%= form_with url: filter_admin_volunteer_hours_path, method: :get do |f| %>
        <%= f.select :school_year, options_for_select(school_years, params[:school_year].present? ? params[:school_year] : nil), {prompt: 'School Year'}, class: ('selected-school-year' if params[:school_year].present?), 'data-remote' => true, onchange: 'this.form.submit();' %>
      <% end %>
    </div>
    <div id="clear-filters-wrapper">
      <%= form_with url: filter_admin_volunteer_hours_path, method: :get do |f| %>
        <%= hidden_field_tag :clear_filters, true %>
        <div class="show-for-medium" id="clear-filters" onclick="$(this).closest('form').submit()">
          Clear Filter
        </div>
        <div class="hide-for-medium" id="clear-filters" onclick="$(this).closest('form').submit()">
          Clear
        </div>
      <% end %>
    </div>
  </div>
</div>
