@import 'foundation_and_overrides';

#filter-by-container {
	padding: 0.5rem 1rem 0;
	border-bottom: 1px solid #3340591a;

	@include breakpoint(small down) {
		padding-top: 0;
		margin: 0.75rem 0;
	}

	#filter-by-wrapper {
		@include breakpoint(1232px) {
			width: 1200px;
			margin: 0 auto;
		}
		#filter-by-text-wrapper {
			@include breakpoint(374px down) {
				display: flex;
				justify-content: space-between;
				max-width: 288px;
			}
			h2.filter-by-text {
				color: #1e7798;
				font-size: 0.9rem;
				font-weight: 500;
				text-transform: uppercase;
			}
			.show-for-smaller-screens {
				display: none;

				@include breakpoint(374px down) {
					display: block;
					margin: 0 0.25rem;
				}
			}
		}
		#clear-filters {
			color: #1e7798;
			cursor: pointer;
			font-size: 0.9rem;
			margin: 0 0 1rem 1rem;

			@include breakpoint(374px down) {
				display: none;
			}
		}
		#filter-options-wrapper {
			display: flex;
			align-items: center;

			#regions-wrapper {
				form {
					width: 200px;
					max-width: 100%;

					@include breakpoint(small down) {
						width: 110px;
					}

					select {
						&.selected-region,
						&:hover {
							cursor: pointer;
							border: 1px solid #1e7798;
						}
					}
				}
			}
			.event-type {
				cursor: pointer;
				margin: 0 1rem 1rem;
				transition: 0.5s all;
				background-color: #fff;
				padding: 0.407rem 0.75rem;
				border: 1px solid #cacaca;

				@include breakpoint(small down) {
					margin: 0 0.5rem 1rem;
				}

				&:hover {
					border: 1px solid #1e7798;
				}
			}
			#upcoming-events {
				margin: 0 0 1rem 0;
				padding: 0.407rem 0.75rem;
			}
			.selected-filter {
				color: #fff;
				background-color: #1e7798;
				border: 1px solid #1e7798;
			}
		}
	}

}