<div class="grid-x">
	<div class="cell large-6 medium-6">
		<%= simple_form_for [:admin, @region] do |f| %>
			<%= f.input :name %>
			<%= f.submit 'Save', class: 'button' %>
			<%= link_to 'Cancel', admin_regions_path, class: 'button', style: 'margin-left:0.5rem;' %>
		<% end %>
	</div>
</div>
