// primary colors
$blue: #2492bb;
$blue-hover: #018066;

$green: #00ab89;
$green-hover: #018066;

// shades of gray
$off-white: #fafafa;
$white: #fefefe;
$light-gray: #ddd;
$dark-gray: #696969;

// error message
$red: #cc4b37;