@font-face {
	font-family: 'CrimsonText-Regular';
	src: font-url('CrimsonText-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'CrimsonText-SemiBold';
	src: font-url('CrimsonText-SemiBold.ttf') format('truetype');
}
@font-face {	
	font-family: 'CrimsonText-Bold';
	src: font-url('CrimsonText-Bold.ttf') format('truetype');
}
@font-face {	
	font-family: 'Montserrat-Light';
	src: font-url('Montserrat-Light.ttf') format('truetype');
}
@font-face {	
	font-family: 'Montserrat-LightItalic';
	src: font-url('Montserrat-LightItalic.ttf') format('truetype');
}
@font-face {	
	font-family: 'Montserrat-Medium';
	src: font-url('Montserrat-Medium.ttf') format('truetype');
}
@font-face {	
	font-family: 'Montserrat-MediumItalic';
	src: font-url('Montserrat-MediumItalic.ttf') format('truetype');
}
@font-face {	
	font-family: 'Montserrat-Regular';
	src: font-url('Montserrat-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat-Italic';
	src: font-url('Montserrat-Italic.ttf') format('truetype');
}
@font-face {	
	font-family: 'Montserrat-SemiBold';
	src: font-url('Montserrat-SemiBold.ttf') format('truetype');
}
@font-face {	
	font-family: 'Montserrat-SemiBoldItalic';
	src: font-url('Montserrat-SemiBoldItalic.ttf') format('truetype');
}