@import 'foundation_and_overrides';

.navigation.top-bar {
	background-color: #fff;
	border-bottom: 1px solid #ddd;
	padding: 0.5rem 0;

	.nav-page-wrapper {
		@include breakpoint(1232px) {
			width: 1200px;
		}
		margin: 0.25rem auto;
	}
	.navigation-wrapper {
		display: flex;
		justify-content: space-between;

		#sign-up-button {
			margin-right: 0.5rem;
			border: 1px solid #fff;
			transition: 0.5s all;

			@include breakpoint(small down) {
				margin-right: 0;
				margin-left: 0;
			}

			&:hover {
				border: 1px solid #D9E1E2;
			}

			a {
				font-weight: bold;
				background-color: #fff !important;
			}
		}
		#sign-in-button {
			border: 1px solid #004F71;
			background-color: #fff;
			transition: 0.5s all;
			
			&:hover {
				background-color: #004F71;
			}
			a {
				color: #004F71;
				transition: 0.5s all;

				&:hover {
					color: #fff;
				}
			}
		}
		.nav-item {
			position: relative;
			margin-left: 0.5rem;
		}
		.pointer {
			position: absolute;
			top: 48px;
			width: 15px;
			height: 15px;
			right: calc(50% - 7.5px);
			border: 1px solid #dadada;
			border-bottom: 0;
			border-right: 0;
			z-index: 2;
			transform: rotate(45deg);
			background-color: #fafafa;

			@include breakpoint(small down) {
				top: 43px;
			}
		}
		li.admin-nav-items#events-nav {
			.pointer {
				right: calc(50% - 7.5px + 8px);
			}
		}
		li.admin-nav-items {
			position: relative;

			.pointer {
				top: 43px;
			}
		}
	}
	
	ul.dropdown {
		display: flex;
		align-items: center;
		background-color: #fff;

		a {
			color: #004F71;
		}
		.nav-link#logout {
			padding-right: 0;
		}
	}

	#logo {
		display: flex;
		align-items: center;

		#logo-link {
			padding: 0;
		}
		#jakara-logo {
			width: 100px;

			@include breakpoint(small down) {
				width: 80px;
			}
		}
		#bulldog-logo {
			width: 120px;
		}
		.fa.fa-home {
			color: #004F71;
			margin-right: -0.5rem;
		}
	}
}